<h1>New person</h1>

<%= render 'form' %>

<% form_for(@person) do |f| %>

    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <%= f.submit 'Create' %>
    </p>
<% end %>

<%= link_to 'Back', people_path %>
