<h1>Listing person_controllers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @person_controllers.each do |person_controller| %>
      <tr>
        <td><%= link_to 'Show', person_controller %></td>
        <td><%= link_to 'Edit', edit_person_controller_path(person_controller) %></td>
        <td><%= link_to 'Destroy', person_controller, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person controller', new_person_controller_path %>
